<html>
    <head>
    <title> MEMO </title>    
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("input").focus(function(){
        $(this).css("background-color", "yellow");
      });
      $("input").blur(function(){
        $(this).css("background-color", "white");
      });
    });
    </script>   
    </head> 

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/dashboard"><img src="/images/logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/create">Ajouter une Memo</a>
                  </li>              
                <li class="nav-item active">
                  <a class="nav-link" href="/logout">Deconnecter<span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <form action="/recherche" method="POST" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="cle" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav> 


        <div class="row mt-5">
            <div class="col-md-6 m-auto">
              <div class="card card-body">
                <% if(typeof err != 'undefined'){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= err %>
                </div>
                <% } %>
            <form action="create" method="post">
                <div class="form-group">
                    <label>Titre</label>
                    <input type="text" class="form-control" name="title" placeholder="Add title">
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <textarea class="form-control" name="body" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Valider</button>

            </form>
            </div>
          </div>
        </div>    
  </body>
  </html>