<html>
    <head>
    <title> Permission </title>    
    <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.css">   
    </head> 

<body>    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/posts"><img src="/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/create">Ajouter une Memo</a>
              </li>              
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Deconnecter<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form action="/recherche" method="POST" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="cle" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> 


    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            Permission
          </h1>

          <form action="/permissioned/<%=id%>" method="POST">
          <% if(typeof result != 'undefined'){ %> <% result.forEach(function(res) { %>
            <input type="checkbox" name="choix[]" value="<%= res.id%>"> <%=res.nom%> <%= res.prenom %> <br>
          <% }); %> <% } %>
          <input type="submit" value="valider">
          </form> 
          </div>
        </div>
    </div>
</body>

</html>